h1, h2, h3, h4, h5, h6,
.navbar .site-name {
    // font-weight: 900!important;
    // color: #111 !important;
}

body,
html {
    // color: #111;
}

html,
body,
.navbar,
.links,
.sidebar,
tr:nth-child(2n),
.gt-header-textarea,
.gt-header-preview,
.gt-comment-content,
.search-box input {
    background-color: #f5f5d5 !important;
    // font-family: Georgia, serif !important;
}

.custom-block.tip {
    background-color: #f5f2f0 !important;
}

blockquote {
    background-color: rgba(102,128,153,0.05);
    color: initial;
}

.theme-default-content code {
    color: #111111;
    background-color: pink;
}

strong {
    font-weight: 500;
}

@import './detail.styl';
@import './base.styl';
